@model List<Attributes.Models.Book>

<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model[1].Title)</th>
            <th>@Html.DisplayNameFor(model => model[0].Author)</th>
            <th>@Html.DisplayNameFor(model => model[0].PublicationYear)</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => book.Title)</td>
                <td>@Html.DisplayFor(modelItem => book.Author)</td>
                <td>@Html.DisplayFor(modelItem => book.PublicationYear, "PublicationYear")</td> <!-- Specify the custom display template name here -->
            </tr>
        }
    </table>

    <br />
    <fieldset>
        @Html.EditorFor(model => Model[0])
    </fieldset>
</body>
</html>
